$card-transition-time: 0.5s;


.card {
   perspective: 600px;
   position: relative;
   
   &.is-switched {
      .card__wrapper {
         animation: rotate $card-transition-time linear both;
      }
   }
}

   .card__wrapper {
      transform-style: preserve-3d;
      animation: rotate-inverse $card-transition-time linear both;
}

   .card__side {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      &.is-active {
         position: static;
      }
   }


   .card__side--back {
      transform: rotateY(180deg);
   }





@keyframes rotate {
  0% {
    transform: rotateY(0);
  }
  70% {
    transform: rotateY(200deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes rotate-inverse {
  0% {
    transform: rotateY(180deg);
  }
  70% {
    transform: rotateY(-20deg);
  }
  100% {
    transform: rotateY(0);
  }
}





// ignore

* {
   box-sizing: border-box;
}

body {
   background-color: #5a5a5a;
   text-align: center;
   padding: 1.5rem;
}

h1,
h2 {
   margin: 0;
}

.card {
   flex-flow: row nowrap;
   margin: 2rem auto;
   max-width: 350px;
}

.card__side {
   padding: 1em;
   border-radius: 5px;
   color: white;
   background-color: #ff4136;
}


.card__side--back {
   background-color: #0074d9;
}

.card__wrapper{
   
}

.title {
   color: #fff;
}

.container{
   display: flex;
}
